@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata&family=Montserrat&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
#container {
    background-image: url('./images/background.jpg');
    background-size: cover;
    height: 100vh;
}
h1, h2 {
    padding: 0;
    color: white;
    text-align: center;
}
h1 {
    margin: 0 0 1em 0;
}
h2 {
    margin: 0 0 2em 0;
}


/* Header de la page */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1em 1em 1em 1em;
    font-size: 1.1em;
    font-family: Roboto, sans-serif;
}
header ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
    margin: 0;
    padding: 0;
}
header a:hover {
    text-decoration: underline;
}


/* Contenu de la page index.html */

main {
    padding: 1em;
}
#search-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 300px 0.5fr 300px 1fr;
}
#calendar-container, #trips-container {
    height: 300px;
    padding: 2em 1em;
    background-color: white;
    border-radius: 1em;
}
#calendar-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
#calendar-container .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
}
#calendar-container input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em 0.3em;
    border-radius: 0.4em;
}
button#search {
    width: 100%;
    box-sizing: border-box;
    padding: 0.7em 0;
    color: white;
    background-color: #469e86;
    border-radius: 2%;
    border-color: #469e86;
}
#trips-container {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}
#trips-container img {
    width: 90%;
    height: auto;
}
.trip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #f6eeef;
    border-radius: 0.4em;
}
.trip button, #cart-container button {
    padding: 0.5em;
    color: white;
    background-color: #469e86;
    border-radius: 0.4em;
}
#go {
    padding-top: 70%;
    size: 2;
}


/* Contenu de la page cart.htm */

#cart-container, #bookings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 400px;
    margin: 3em auto 2em auto;
    background-color: white;
    border-radius: 1em;
}
#cart-container h1, #bookings-container h1 {
    flex-shrink: 0;
    color: black;
    margin: 1em 1em 0 1em;
    font-size: 1.4em;
}
#cart-container #cart, #bookings-container #bookings {
    margin: 2em 10%;
    padding: 0 1em;
    overflow-y: auto;
}
#sum-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    padding: 0 2em;
    color: white;
    background-color: #01153f;
    border-radius: 0 0 1em 1em;
}


/* Contenu de la page bookings.htm */

#bookings-footer {
    text-align: center;
    flex-shrink: 0;
    height: 50px;
    padding: 0 2em;
    color: #469e86;
    border-top: 2px solid #469e86;
    border-radius: 0 0 1em 1em;
}

header a {
    color: #469e86;
    text-decoration: none;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}